.App {
  max-width: 500px;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: 30px auto;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: #deedf0;
}

h1 {
  font-family: "Pacifico", cursive;
  font-size: 56px;
  font-weight: 100;
  color: #181d31;
  margin-bottom: 10px;
  text-align: right;
  padding-right: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  line-height: 20px;
  margin: 0;
  padding: 0;
}

li::first-letter {
  text-transform: capitalize;
}

small a {
  text-decoration: none;
}
